* {
    margin: 0;
}

body * {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    font-family: "Lucida Handwriting", cursive;
}

header, .title, .nav {
    background-color:  darkolivegreen;
    flex-direction: row;
    justify-content: center;
}

.logo {
    border-radius: 50%; 
    max-width: 100px; 
    justify-content: flex-start;
    padding: 10px;
}

button {
    height: 50px;
    width: 139px;
    align-items: center;
    background: gold;
    border-radius: 40px;
    justify-content: center;
}

.nav {
    flex: 0 1 0%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.nav a, .nav button * {
    align-items: center;
    justify-content: center;
}

.title {
    padding: 50px;
    gap: 20px;
}

.title-h {
    justify-content: flex-end;
    text-align: center;
}

.title-p {
    justify-content: flex-start;
    text-align: center;
}

.title-img {
    width: auto;
    height: 300px;
    border-radius: 25px;
}

.info {
    flex-direction: row;
    align-items: center;
    height: 240px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.info .tile {
    border-radius: 25px;
    background-color: darkolivegreen;
    text-align: center;
    min-height: 200px;
    min-width: 200px;
    justify-content: center;
    border: 2px solid tan;
    flex: 0;
}

.quote {
    color: black;
    background: tan;
    text-align: center;
    height: 240px;
    padding: 20px;
    border-radius: 25px;
    margin: 10px;
}

.quote h2 {
    justify-content: center;
}

.sign-up {
    flex-direction: row;
    padding: 20px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sign-up h3 {
    justify-content: flex-start;
    max-width: 500px;
}

.sign-up button  {
    flex: 0 1 0%;
    min-height: 50px;
    min-width: 139px;
    background: gold;
    border-radius: 40px;
}

.sign-up button * {
    align-items: center;
    justify-content: center;

}

.footer {
    align-items: center;
    justify-content: center; 
    color: white;
    background: black;
}

